$color: rgb(0, 0, 0);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
    margin-top: 7%;
	width: 300px;
    text-align: center;
}

.sub-container {
    padding-left: 10px;
	padding-right: 10px;
	margin: 100px;
}

.modal {
	margin-top: 9%;
}

.modalContainer {
	display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;
	margin: 0 auto;
    text-align: center;
}

.bold {
	font-weight:bold;
	padding-top: 0.75em;
}

.rightCol {
	display: flex;
	justify-content: flex-end;
}

.modalSubContainer {
	display: flex;
    justify-content: center;
	flex-direction: row;
}

.gameOver {
	padding-left: 30px;
	padding-right: 30px;
	width: 250px;
}

.playAgain {
	padding-left: 30px;
	padding-right: 30px;
}

.correct {
	border-radius: 7px;
	background: green;
	height: 47px;
	width: 275px;
	display: flex;
    align-items: center;
}

.incorrect {
	border-radius: 7px;
	background: red;
	height: 47px;
	width: 275px;
	display: flex;
    align-items: center;
}

.checkmark {
	display: block;
	max-height: 30px;
	margin: auto;
}

.counter {
	border: 1px solid black;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color: white;
	background-color: black;
	font-family: Arial;
  	font-size: 20px;
	display: flex;
	flex-direction: column;
}

.streak {
	display: flex;
    justify-content: center;
	width: 125px;
}

.button {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: lighten($color, 25%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

/* optional reset for presentation */
* {
  font-family: Arial;
  font-size: 20px;
}

h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
}